@charset "utf-8";

/* 
웹폰트
*/

@font-face {
    font-family: 'NoroSansKR';
    src: url(../font/NotoSans-Regular.woff) format(woff);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR';
    src:url(../font/NotoSans-Medium.woff) format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR';
    src:url(../font/NotoSans-Bold.woff) format('woff');
    font-weight: 300;
    font-style: normal;
}